body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-board {
  box-shadow: black 20px 10px 50px;
  /* border: 1px solid #97a084; */
}
